// Page Components
@mixin header {
  @include font(m);

  @include breakpoint(lap) {
    @include font(l);
  }
}
@mixin title {
  @include font(m);
  @include bold;

  @include breakpoint(lap) {
    @include font(l);
  }
}
@mixin body {
  @include font(s);
}

// Typography
@mixin font($size) {
  @if $size == l { 
    font-size: $font-size--large;
    line-height: $line-height--large;
  }
  @else if $size == m {
    font-size: $font-size--medium;
    line-height: $line-height--medium;
  }
  @else if $size == s {
    font-size: $font-size--small;
    line-height: $line-height--small;
  }
  @else {
    @error "#{$size} is not a font size";
  }
}
@mixin bold {
  font-weight: 600;
}

// Utility
@mixin breakpoint($point) {
  @if $point == desk {
    @media (min-width: 75rem) { @content ; }
 }
  @else if $point == lap {
    @media (min-width: 56.25rem) { @content ; }
 }
  @else if $point == hands {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == palm {
    @media (max-width: 37.5em)  { @content ; }
 }
 @else {
   @error "#{$point} is not a valid breakpoint";
 }
}