$cubit: 0.75rem;

$font-size--extra-small: 1rem;
$font-size--small: 1.25rem;
$font-size--medium: 1.75rem;
$font-size--large: 2.25rem;

$line-height--extra-small: 1.25rem;
$line-height--small: 1.5rem;
$line-height--medium: 2rem;
$line-height--large: 2.5rem;

$width--site: 75rem;
$width--content: 60rem;
$width--center-column: 45rem;
$width--mobile-nav: 12rem;

$color--white: #fff;
$color--bright-gray: #cfcfcf;
$color--light-gray: #afafaf;
$color--dark-gray: #373737;
$color--dark-gray-tint: rgba($color--dark-gray, 0.4);
$color--primary: #40709e;
$color--primary-hover: #5080be;
$color--secondary: #68a385;
$color--secondary-hover: #68b385;
$color--give: $color--secondary;
$color--give-hover: $color--secondary-hover;

$border-width: 0.5rem;
$border-radius: 10px;

$border--black: $border-width solid $color--dark-gray;
$border--white: $border-width solid $color--white;
$border--primary: $border-width solid $color--primary;
$border--secondary: $border-width solid $color--secondary;
