$cubit: 0.75rem;

$font-size--small: 1.25rem;
$font-size--medium: 1.75rem;
$font-size--large: 2.25rem;

$line-height--small: 1.5rem;
$line-height--medium: 2rem;
$line-height--large: 2.5rem;

$site-width: 75rem;
$content-width: 60rem;

$cbc-color--bright-gray: #cfcfcf;
$cbc-color--light-gray: #afafaf;
$cbc-color--dark-gray: #373737;