$cubit: 0.75rem;

$font-size--small: 1.25rem;
$font-size--medium: 1.75rem;
$font-size--large: 2.25rem;

$line-height--small: 1.5rem;
$line-height--medium: 2rem;
$line-height--large: 2.5rem;

$width--site: 75rem;
$width--content: 60rem;
$width--center-column: 45rem;

$color-white: #fff;
$color--bright-gray: #cfcfcf;
$color--light-gray: #afafaf;
$color--dark-gray: #373737;
$color--primary: #689385;
$color--primary-hover: #68a385;
$color--secondary: #40709e;
$color--secondary-hover: #4070ae;