<% copy = data.events.calendar %>
<div class='Calendar'>
  <div class='Calendar-title'>
    <%= copy[:title] %>
  </div>

  <iframe src="https://calendar.google.com/calendar/embed?src=cbcspringhill.org_2qv2mq2eoqsfso0sdf5lcurpro%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>