<% events ||= data.events.events %>
<div class='Event'>
  <% events.each do |event| %>
    <div class='Event-title'>
      <%= event[:title].html_safe %>
    </div>

    <div class='Event-list'>
      <% event[:list].each do |item| %>
        <div class='Event-item'>
          <div class='Event-itemTitle'>
            <% if item[:title_link].present? %>
              <%= link_to item[:title], item[:title_link], class: 'inline-link' %>
            <% else %>
              <%= item[:title].html_safe %>
            <% end %>
          </div>
          <div class='Event-itemBody'>
            <%= item[:body] %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>