<% copy = data.events.event %>
<div class='Event'>
  <div class='Event-title'>
    <%= copy[:title].html_safe %>
  </div>

  <div class='Event-list'>
    <% copy[:list].each do |item| %>
      <div class='Event-item'>
        <div class='Event-itemTitle'>
          <%= item[:title] %>
        </div>
        <div class='Event-itemBody'>
          <%= item[:body] %>
        </div>
      </div>
    <% end %>
  </div>
</div>