a {
  color: inherit;
  text-decoration: none;

  &.inline-link {
    color: $color--light-gray;
    font-size: 1rem;

    &:visited {
      color: $color--light-gray;
    }

    &:hover {
      color: $color--bright-gray;
      text-decoration: underline;
    }
  }
}
body {
  text-align: center;
  color: $color--dark-gray;
  font-family: 'Ubuntu', sans-serif;
}
.no-wrap {
  white-space: nowrap;
}
.Button {
  @include scut-padding(cubits(1) cubits(2));
  background-color: $color--primary;
  border-radius: 0.25rem;
  color: $color-white;
  width: 100%;

  @include breakpoint(hands) {
    width: auto;
  }

  &:hover {
    background-color: $color--primary-hover;
  }
}