<% copy = data.home.beliefs %>
<div class='Beliefs'>
  <div class='Beliefs-body'>
    <%= copy[:body] %>
  </div>

  <%= link_to copy[:cta_label], copy[:cta_link], class: 'Beliefs-link Button' %>
</div>
