<% copy = data.home.expect %>
<div class='Expect'>
  <div class='Expect-title'>
    <%= copy[:title] %>
  </div>

  <div class='Expect-steps'>
    <% copy[:steps].each do |step| %>
      <div class='Expect-step'>
        <div class='Expect-stepTitle'>
          <%= step[:title] %>
        </div>

        <div class='Expect-stepBody'>
          <%= step[:body] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
