<% copy = data.home.hero %>
<div class='Hero'>
  <div class='Hero-title'>
    <%= copy[:title] %>
  </div>
  
  <div class='Hero-body'>
    <%= link_to copy[:address], copy[:link] %>
  </div>

  <div class='Hero-body'>
    <%= copy[:email] %>
  </div>
</div>