<% copy = data.home.hero %>
<div class='Hero'>
  <div class='Hero-title'>
    <%= copy[:title] %>
  </div>

  <div class='Hero-body'>
    <%= copy[:body] %>
  </div>

  <%= link_to copy[:cta_text], copy[:cta_link], class: 'Hero-cta' %>
</div>