<% copy = data.home.reference %>
<div class='Reference'>
  <div class='Reference-verse'>
    <%= copy[:verse] %>
  </div>

  <div class='Reference-label'>
    <%= copy[:label] %>
  </div>

  <%= link_to copy[:cta_label], copy[:cta_link], class: 'Reference-link Button Button--primary Button--inverse' %>
</div>
