<% copy = data.home.vbs_cta %>
<div class='VbsCta'>
  <span class='VbsCta-title'>
    <%= copy[:title] %>
  </span>

  <%= link_to copy[:cta_text], copy[:cta_link], class: 'Button Button--inverse' %>
</div>