.Event {
  @include Slice;

  @include breakpoint(hands) {
    @include scut-padding(n n cubits(6));
  }

  &-title {
    @include Slice-title;
  }

  &-list {
    @include scut-center-block;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: $width--content;
  }

  &-item {
    @include scut-margin(n n cubits(2));

    &Title {
      @include font(m);
    }

    &Body {
      @include font(s);
    }
  }
}
