@import '../shared';

.Footer {
  @include scut-padding(cubits(4) cubits(1));
  display: flex;
  justify-content: center;
  background-color: $color--dark-gray;
  color: $color--light-gray;
  border-top: $border--secondary;

  &-row {
    @include scut-margin(n n cubits(0.5));
  }
}