@import '../shared';

.Footer {
  @include scut-padding(cubits(4) cubits(1));
  background-color: $color--dark-gray;
  color: $color--light-gray;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-row {
    @include scut-margin(n n cubits(0.5));
    @include font(s);
  }

  &-callouts {
    @include scut-margin(cubits(2) n n);
    display: flex;
    justify-content: center;
  }

  &-callout {
    @include scut-margin(n cubits(1));
    @include font(xs);
    font-style: italic;
  }
}
