@import '../shared';

.Header {
  display: flex;
  justify-content: space-between;

  &-logo {
    display: none;

    @include breakpoint(hands) {
      display: initial;
      @include scut-margin(cubits(1) n cubits(0.5) n);
      max-width: 12rem;
    }

    &--mobile {
      @include scut-margin(n n n cubits(0.5));
      @include scut-size(auto 4rem);

      @include breakpoint(hands) {
        display: none;
      }
    }
  }

  &-buttonContainer {
    @include scut-padding(cubits(1) cubits(0.5));
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &-button {
    @include scut-margin(n cubits(1));
  }

  &-give {
    background-color: $color--give;
    border-color: $color--give;

    &:hover {
      background-color: $color--give-hover;
      border-color: $color--give-hover;
    }
  }
}
