@import '../shared';

.MobileNav {
  @include scut-fixed(0 (-$width--mobile-nav) 0 n);
  @include scut-padding(cubits(1));
  @include scut-size($width--mobile-nav 100vh);
  background-color: $color--bright-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.3s;

  .menu-open & {
    transform: translateX(-$width--mobile-nav);
  }

  &-toggle {
    cursor: pointer;
  }
}
