$padding--side: cubits(2);
$padding--top-bottom: cubits(2);
$padding--top-bottom--hands: cubits(4);

.section {
  @include scut-padding($padding--top-bottom $padding--side);
  @include font(s);

  @include breakpoint(hands) {
    @include scut-padding($padding--top-bottom--hands n);
  }

  h1 {
    @include scut-margin(n n $padding--top-bottom);
    @include font(m, bold);

    @include breakpoint(hands) {
      @include scut-margin(n n $padding--top-bottom--hands);
    }
  }

  p {
    text-align: left;
  }
}
