@import '../shared';

.TopNav {
  display: flex;
  flex-direction: column;

  @include breakpoint(lap) {
    flex-direction: row;
  }

  &-items {

  }

  &-item {
    text-align: left;
  }

  &-logo {
    @include scut-margin(cubits(1) cubits(1) cubits(0.5) n);
    max-width: 14rem;

    @include breakpoint(hands) {
      max-width: 16rem;
    }
  }
}