@import '../shared';

.TopNav {
  display: flex;
  justify-content: space-between;

  // &-home {
    
  // }

  &-beliefs {
    background-color: $color--beliefs;
    border-color: $color--beliefs;

    &:hover {
      background-color: $color--beliefs-hover;
      border-color: $color--beliefs-hover;
    }
  }

  &-give {
    background-color: $color--give;
    border-color: $color--give;

    &:hover {
      background-color: $color--give-hover;
      border-color: $color--give-hover;
    }
  }

  &-logo {
    display: none;
    
    @include breakpoint(hands) {
      display: initial;
      @include scut-margin(cubits(1) n cubits(0.5) n);
      max-width: 12rem;
    }

    &--mobile {
      @include scut-margin(n n n cubits(0.5));
      @include scut-size(auto 4rem);

      @include breakpoint(hands) {
        display: none;
      }
    }
  }

  &-other {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-item {
    @include scut-margin(n cubits(1) n n);

    @include breakpoint(hands) {
      @include scut-margin(n n n cubits(1));
    }
  }

  &-button {
    width: 4rem;
  }
}