.Expect {
  @include Slice;
  background-image: url('/images/sanctuary_empty.jpg');
  background-size: cover;
  background-position: center;

  &-title {
    @include Slice-title;
    color: $color--white;
  }

  &-steps {
    @include scut-center-block($width--content);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(palm) {
      align-items: center;
    }

    @include breakpoint(hands) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &-step {
    @include scut-margin(cubits(2) n);
    @include bubble;
    flex: 1;

    @include breakpoint(hands) {
      @include scut-margin(n cubits(2));
      flex-basis: 38%;
    }
    
    @include breakpoint(lap) {
      flex-basis: 25%;
    }

    &Title {
      @include scut-margin(n n cubits(1));
      @include font(s, bold);
    }

    // &Body {

    // }
  }
}