.Expect {
  @include Slice;

  &-title {
    @include Slice-title;
  }

  &-steps {
    @include scut-center-block($width--content);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(palm) {
      align-items: center;
    }

    @include breakpoint(hands) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &-step {
    @include scut-margin(cubits(2));

    @include breakpoint(hands) {
      flex-basis: 40%;
    }
    
    @include breakpoint(lap) {
      flex-basis: 28%;
    }

    &Title {
      @include scut-margin(n n cubits(1));
      @include font(s, bold);
    }

    &Body {

    }
  }
}