.Logistics {
  @include Slice;
  @include scut-padding(cubits(6) n);
  background-image: url('/images/building_m.jpg');
  background-size: cover;
  background-position: 50% 65%;
  color: $color--white;
  border-bottom: $border--secondary;

  @include breakpoint(hands) {
    background-image: url('/images/building.jpg');
    background-position: 0% 40%;
    background-size: auto;
  }

  &-title {
    @include Slice-title;
  }

  &-body {
    @include Slice-body;
    @include scut-margin(n n cubits(1));

    a:hover {
      @include underline;
    }
  }
}