.Reference {
  @include Slice;
  color: $color--white;
  background-color: $color--primary;

  &-verse {
    @include scut-center-block($width--content);
    @include scut-margin(n n cubits(1));
    @include font(s);
  }

  &-label {
    @include scut-margin(n n cubits(4));
    @include font(s);
  }

  &-link {
    @include scut-margin(cubits(1));
    @include bold;
    
    @include breakpoint(lap) {
      width: 12rem;
    }
  }
}