.Reference {
  @include Slice;
  background-color: $color--white;
  color: $color--dark-gray;

  &-verse {
    @include scut-center-block($width--content);
    @include scut-margin(n n cubits(1));
    @include font(s, bold);
  }

  &-label {
    @include scut-margin(n n cubits(4));
    @include font(s, bold);
  }

  &-link {
    @include scut-margin(cubits(1));
    @include font(xs, bold);

    @include breakpoint(lap) {
      width: 12rem;
    }
  }
}
