.Staff {
  @include Slice;
  background-image: url('/images/stone_wall.jpg');
  background-size: cover;
  background-position: center;

  &-title {
    @include Slice-title;
    color: $color--white;
  }

  &-body {
    @include Slice-body;
    @include bubble;
  }

  &-disclaimer {
    font-style: italic;
    @include bubble;
  }

  &-members {
    @include scut-center-block($width--content);
    @include scut-margin(cubits(2) n cubits(4));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(lap) {
      flex-direction: row;
    }

    @include breakpoint(desk) {
      flex-wrap: nowrap;
    }
  }

  &-member {
    @include scut-margin(cubits(1));
    @include bubble;
    display: flex;

    &ImageContainer {

    }

    // &Image {

    // }

    &TextContainer {
      @include scut-padding(n n n cubits(1));
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5rem;

      @include breakpoint(hands) {
        width: 7rem;
      }
    }

    &First {
      @include breakpoint(palm) {
        @include bold;
      }

      @include breakpoint(hands) {
        @include font(m);
      }
    }

    &Last {
      @include scut-margin(n n cubits(1));

      @include breakpoint(palm) {
        @include bold;
      }

      @include breakpoint(hands) {
        @include font(m);
      }
    }

    &Position {

    }
  }
}