<% copy = data.header %>
<div class='Header'>  
  <div class='Header-home'>
    <% link_to copy[:home_link] do %>
      <%= image_tag copy[:logo_m_src], alt: copy[:logo_alt], title: copy[:logo_alt], class: 'Header-logo--mobile' %>
      
      <%= image_tag copy[:logo_src], alt: copy[:logo_alt], title: copy[:logo_alt], class: 'Header-logo' %>
    <% end %>
  </div>

  <div class='Header-buttonContainer'>
    <div class='Button Header-button' data-toggle-menu>
      <%= copy[:toggle] %>
    </div>

    <% link_to copy[:give_link], class: 'Header-button' do %>
      <div class='Button Header-give'>
        <%= copy[:give_text] %>
      </div>
    <% end %>
  </div>
</div>