<% copy = data.top_nav %>
<nav class='MobileNav'>
  <%= image_tag ihamburger, class: 'MobileNav-toggle', data: { toggle_menu: :true } %>

  <% link_to copy[:beliefs_link] do %>
    <div class='Button MobileNav-button MobileNav-beliefs'>
      <%= copy[:beliefs_text] %>
    </div>
  <% end %>
</nav>