<% copy = data.nav %>
<div class='Nav'>
  <div class='Nav-container'>
    <div class='Nav-x' data-toggle-menu>
      <%= evil_icon 'ei-close-o', size: :m %>
    </div>

    <% copy[:links].each do |link| %>
      <% link_to link[:link], class: 'Nav-item Nav-button' do %>
          <%= link[:text] %>
      <% end %>
    <% end %>
  </div>
</div>