<% copy = data.vbs.info %>
<div class='Info'>

  <div class='Info-signup'>
    <%= link_to copy[:signup_text], copy[:signup_link], class: 'Button' %>
  </div>

  <div class='Info-detail'>
    <%= copy[:days] %>
  </div>

  <div class='Info-detail'>
    <%= copy[:time] %>
  </div>

  <div class='Info-detail'>
    <%= copy[:ages] %>
  </div>  
</div>