<% copy = data.vbs.info %>
<div class='Info'>
  <div class='Info-detail'>
    <%= copy[:days] %>
  </div>

  <div class='Info-detail'>
    <%= copy[:time] %>
  </div>

  <div class='Info-detail'>
    <%= copy[:ages] %>
  </div>
</div>