.BeliefList {
  @include Slice;

  &-beliefs {
    @include scut-center-block($width--content);
    text-align: left;
  }

  &-belief {
    @include scut-margin(n n cubits(2));
    cursor: pointer;

    &Category {
      @include scut-margin(n n cubits(1));
      @include scut-padding(cubits(2));
      @include font(m, bold);
      background-color: $color--bright-gray;
      border-radius: $border-radius;

      &:after {
        content: "+";
        color: $color--primary;

        .BeliefList-belief:hover & {
          color: $color--primary-hover;
        }

        .open & {
          content: "-";
        }
      }
    }

    &Details {
      height: 0;
      overflow: hidden;

      .open & {
        height: auto;
      }
    }

    &Detail {
      @include scut-margin(n n cubits(1));
    }
  }
}