.BeliefList {
  @include Slice;

  &-beliefs {
    @include scut-center-block($width--content);
    text-align: left;
  }

  &-belief {
    @include scut-margin(n n cubits(2));

    &Category {
      @include scut-margin(n n cubits(1));
      @include scut-padding(cubits(1) cubits(2));
      @include font(m, bold);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: $border-radius;
      background-color: $color--bright-gray;
      cursor: pointer;

      &:hover {
        background-color: $color--light-gray;
      }
    }

    &Details {
      @include scut-padding(n cubits(2));
      height: 0;
      overflow: hidden;

      .open & {
        height: auto;
      }
    }

    &Detail {
      @include scut-margin(n n cubits(1));
    }
  }

  &-icon {
    color: $color--primary;
  }

  &-open {
    .open & {
      display: none;
    }
  }

  &-close {
    display: none;

    .open & {
      display: inline-block;
    }
  }
}
