.Hero {
  @include Hero;
  background-image: linear-gradient(rgba($color--dark-gray, 0.5)), url('/images/open_bible.jpg');
  background-position: 50% 40%;
  background-size: cover;

  &-title {
    @include Hero-title;
  }
}